.contextmenu{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    width: 130px;
    padding-bottom: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
    background-color: #FFFFFF;
    color: #212121;
    font-weight: 400;
    

}
.contextmenu button{
    text-align: left;
    color: #000000;
    background-color: #FFFFFF;
    padding-left: 20px;
    border-radius: unset;
}
.contextmenu button:hover{
    background-color: rgba(26, 164, 200, .2);
}